DogLovers/WindowsFormsApplication1/Service References/Dog_Service/DogLovers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DogLovers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DogLovers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDOG_x0020_ID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DOG_x0020_ID" nillable="true" type="tns:DOG_x0020_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDOG_x0020_ID" nillable="true" type="tns:ArrayOfDOG_x0020_ID" />
  <xs:complexType name="DOG_x0020_ID">
    <xs:sequence>
      <xs:element name="DogBreed" nillable="true" type="xs:string" />
      <xs:element name="Microchip_x0020_Number" type="xs:long" />
      <xs:element name="Month_x002F_Year_x0020_of_x0020_Birth" type="xs:dateTime" />
      <xs:element name="Owner_x0027_s_x0020_firstname" nillable="true" type="xs:string" />
      <xs:element name="Owner_x0027_s_x0020_lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DOG_x0020_ID" nillable="true" type="tns:DOG_x0020_ID" />
</xs:schema>