DogLovers/WindowsFormsApplication1/Service References/Dog_Service/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DogLovers" />
  <xs:element name="GetListOfDogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfDogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DogLovers" minOccurs="0" name="GetListOfDogsResult" nillable="true" type="q1:ArrayOfDOG_x0020_ID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompatibleMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DogLovers" minOccurs="0" name="a" nillable="true" type="q2:DOG_x0020_ID" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DogLovers" minOccurs="0" name="b" nillable="true" type="q3:DOG_x0020_ID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompatibleMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompatibleMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompatibleMatchByBreedAndBirth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="breed1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="breed2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompatibleMatchByBreedAndBirthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompatibleMatchByBreedAndBirthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>