DogLovers/WindowsFormsApplication1/Service References/Dog_Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Dog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DogLovers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDog_GetListOfDogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfDogs" />
  </wsdl:message>
  <wsdl:message name="IDog_GetListOfDogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfDogsResponse" />
  </wsdl:message>
  <wsdl:message name="IDog_CompatibleMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CompatibleMatch" />
  </wsdl:message>
  <wsdl:message name="IDog_CompatibleMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompatibleMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IDog_CompatibleMatchByBreedAndBirth_InputMessage">
    <wsdl:part name="parameters" element="tns:CompatibleMatchByBreedAndBirth" />
  </wsdl:message>
  <wsdl:message name="IDog_CompatibleMatchByBreedAndBirth_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompatibleMatchByBreedAndBirthResponse" />
  </wsdl:message>
  <wsdl:portType name="IDog">
    <wsdl:operation name="GetListOfDogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDog/GetListOfDogs" message="tns:IDog_GetListOfDogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDog/GetListOfDogsResponse" message="tns:IDog_GetListOfDogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompatibleMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IDog/CompatibleMatch" message="tns:IDog_CompatibleMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDog/CompatibleMatchResponse" message="tns:IDog_CompatibleMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompatibleMatchByBreedAndBirth">
      <wsdl:input wsaw:Action="http://tempuri.org/IDog/CompatibleMatchByBreedAndBirth" message="tns:IDog_CompatibleMatchByBreedAndBirth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDog/CompatibleMatchByBreedAndBirthResponse" message="tns:IDog_CompatibleMatchByBreedAndBirth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDog" type="tns:IDog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfDogs">
      <soap:operation soapAction="http://tempuri.org/IDog/GetListOfDogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompatibleMatch">
      <soap:operation soapAction="http://tempuri.org/IDog/CompatibleMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompatibleMatchByBreedAndBirth">
      <soap:operation soapAction="http://tempuri.org/IDog/CompatibleMatchByBreedAndBirth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dog">
    <wsdl:port name="BasicHttpBinding_IDog" binding="tns:BasicHttpBinding_IDog">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DogLovers/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>